<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.east.cms.dao.AttachmentMapper">
 
  <sql id="Attachment_Topic_List">
    a.id           ,
    a.newName      , 
    a.oldName      , 
    a.type         , 
    a.suffix       , 
    a.size         , 
    a.isIndexPic   , 
    a.isImg        , 
    a.topicId      , 
    a.isAttach     ,
    t.title        , 
	t.keyword      , 
	t.status       , 
	t.recommend    , 
	t.content      , 
	t.summary      , 
	t.publishDate  , 
	t.createDate   , 
	t.author       , 
	t.cname        
	from attachment a left join topic t on(a.topicId=t.id)
  </sql>
  
 <!-- oo -->
 <select id="findNoUseAttachment"  resultType="com.east.cms.model.Attachment" >
   select * from attachment  where topicId is null
 </select>
 <!-- oo -->
 <select id="findNoUseAttachmentNum"  resultType="java.lang.Integer">
   select count(*) from attachment  where topicId is null
 </select>
 <!-- oo -->
  <delete id="deleteNoUseAttachment">
    delete from attachment where topicId is null
 </delete>
 <!-- oo -->
 <delete id="deleteByTopic" parameterType="java.lang.Integer" >
   delete from attachment where topicId = #{topicId}
 </delete>
  <!-- oo  -->
 <select id="listByTopic"  parameterType="java.lang.Integer" resultType="com.east.cms.model.AttachmentTopic"  >
    select 
   <include refid="Attachment_Topic_List"/>
    where a.topicId=#{topicId} 
 </select>
  <!-- oo  -->
 <select id="listIndexPic" parameterType="java.lang.Integer" resultType="com.east.cms.model.AttachmentTopic" >
   select 
  <include refid="Attachment_Topic_List"/>
  where a.isIndexPic=#{num} and t.status=1 and a.isImg=1
 </select>
  <!-- oo  -->
 <select id="findChannelPic" parameterType="java.lang.Integer" resultType="com.east.cms.model.AttachmentTopic" >
  select 
  <include refid="Attachment_Topic_List"/>
  where  t.status=1 and t.channelId=#{channelId} and a.id=t.channelPicId
 </select>
  <!-- oo  -->
 <select id="listAllIndexPic" resultType="com.east.cms.model.AttachmentTopic" >
 	 select 
     <include refid="Attachment_Topic_List"/>
     where a.isImg=1 and t.status=1
 </select>
 <!-- oo  -->
 <select id="listAttachByTopic"  parameterType="java.lang.Integer"  resultType="com.east.cms.model.AttachmentTopic" >
     select 
     <include refid="Attachment_Topic_List"/>
     where t.id=#{topicId} and a.isAttach=1
 </select>
 
 <insert id="add" parameterType="com.east.cms.model.Attachment" >
    insert into attachment (newName,oldName,type,suffix,size,isIndexPic,isImg,topicId,isAttach) 
    values(#{newName},#{oldName},#{type},#{suffix},#{size},#{isIndexPic},#{isImg},#{topicId},#{isAttach})
 </insert>
 
 <delete id="delete"  parameterType="java.lang.Integer" >
   delete from attachment where id=#{attachmentId}
 </delete>
 
 <select id="load"  parameterType="java.lang.Integer"  resultType="com.east.cms.model.Attachment">
   select * from  attachment where id=#{attachmentId}
 </select>
 
 <update id="update"  parameterType="com.east.cms.model.Attachment" >
   update attachment 
   set newName=#{newName},
       oldName=#{oldName},
       type=#{oldName},
       suffix=#{oldName},
       size=#{oldName},
       isIndexPic=#{oldName},
       isImg=#{oldName},
       topicId=#{oldName},
       isAttach=#{oldName} 
    where id=#{id}   
 </update>
 
 
</mapper>