<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.east.cms.dao.AttachmentDao" >
  <resultMap id="BaseResultMap" type="com.east.cms.model.Attachment" >
    <id column="attachment_id" property="attachmentId" jdbcType="INTEGER" />
    <result column="new_name" property="newName" jdbcType="VARCHAR" />
    <result column="old_name" property="oldName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="suffix" property="suffix" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="is_index_pic" property="isIndexPic" jdbcType="INTEGER" />
    <result column="is_img" property="isImg" jdbcType="INTEGER" />
    <result column="is_attach" property="isAttach" jdbcType="INTEGER" />
    <association column="topic_id" property="topic" select="com.east.cms.dao.TopicDao.selectByPrimaryKey" ></association>
  </resultMap>
  <sql id="Base_Column_List" >
    attachment_id, new_name, old_name, type, suffix, size, is_index_pic, is_img, topic_id, 
    is_attach
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attachment
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attachment
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.east.cms.model.Attachment" >
    insert into attachment (attachment_id, new_name, old_name, 
      type, suffix, size, 
      is_index_pic, is_img, topic_id, 
      is_attach)
    values (#{attachmentId,jdbcType=INTEGER}, #{newName,jdbcType=VARCHAR}, #{oldName,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{isIndexPic,jdbcType=INTEGER}, #{isImg,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, 
      #{isAttach,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.east.cms.model.Attachment" >
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attachmentId != null" >
        attachment_id,
      </if>
      <if test="newName != null" >
        new_name,
      </if>
      <if test="oldName != null" >
        old_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="suffix != null" >
        suffix,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="isIndexPic != null" >
        is_index_pic,
      </if>
      <if test="isImg != null" >
        is_img,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="isAttach != null" >
        is_attach,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attachmentId != null" >
        #{attachmentId,jdbcType=INTEGER},
      </if>
      <if test="newName != null" >
        #{newName,jdbcType=VARCHAR},
      </if>
      <if test="oldName != null" >
        #{oldName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="isIndexPic != null" >
        #{isIndexPic,jdbcType=INTEGER},
      </if>
      <if test="isImg != null" >
        #{isImg,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="isAttach != null" >
        #{isAttach,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.east.cms.model.Attachment" >
    update attachment
    <set >
      <if test="newName != null" >
        new_name = #{newName,jdbcType=VARCHAR},
      </if>
      <if test="oldName != null" >
        old_name = #{oldName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="isIndexPic != null" >
        is_index_pic = #{isIndexPic,jdbcType=INTEGER},
      </if>
      <if test="isImg != null" >
        is_img = #{isImg,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=INTEGER},
      </if>
      <if test="isAttach != null" >
        is_attach = #{isAttach,jdbcType=INTEGER},
      </if>
    </set>
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.east.cms.model.Attachment" >
    update attachment
    set new_name = #{newName,jdbcType=VARCHAR},
      old_name = #{oldName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      is_index_pic = #{isIndexPic,jdbcType=INTEGER},
      is_img = #{isImg,jdbcType=INTEGER},
      topic_id = #{topicId,jdbcType=INTEGER},
      is_attach = #{isAttach,jdbcType=INTEGER}
    where attachment_id = #{attachmentId,jdbcType=INTEGER}
  </update>
</mapper>