<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.east.cms.dao.ChannelDao" >
  <resultMap id="BaseResultMap" type="com.east.cms.model.Channel" >
    <id column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    <result column="is_custom_link" property="isCustomLink" jdbcType="INTEGER" />
    <result column="custom_link_url" property="customLinkUrl" jdbcType="VARCHAR" />
    <result column="channel_type" property="channelType" jdbcType="VARCHAR" />
    <result column="is_index" property="isIndex" jdbcType="INTEGER" />
    <result column="is_top_nav" property="isTopNav" jdbcType="INTEGER" />
    <result column="is_recommend" property="isRecommend" jdbcType="INTEGER" />
    <result column="channel_status" property="channelStatus" jdbcType="INTEGER" />
    <result column="orders" property="orders" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="nav_order" property="navOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    channel_id, channel_name, is_custom_link, custom_link_url, channel_type, is_index, 
    is_top_nav, is_recommend, channel_status, orders, parent_id, nav_order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from channel
    where channel_id = #{channelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from channel
    where channel_id = #{channelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.east.cms.model.Channel" >
    insert into channel (channel_id, channel_name, is_custom_link, 
      custom_link_url, channel_type, is_index, 
      is_top_nav, is_recommend, channel_status, 
      orders, parent_id, nav_order
      )
    values (#{channelId,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR}, #{isCustomLink,jdbcType=INTEGER}, 
      #{customLinkUrl,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR}, #{isIndex,jdbcType=INTEGER}, 
      #{isTopNav,jdbcType=INTEGER}, #{isRecommend,jdbcType=INTEGER}, #{channelStatus,jdbcType=INTEGER}, 
      #{orders,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{navOrder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.east.cms.model.Channel" >
    insert into channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="channelName != null" >
        channel_name,
      </if>
      <if test="isCustomLink != null" >
        is_custom_link,
      </if>
      <if test="customLinkUrl != null" >
        custom_link_url,
      </if>
      <if test="channelType != null" >
        channel_type,
      </if>
      <if test="isIndex != null" >
        is_index,
      </if>
      <if test="isTopNav != null" >
        is_top_nav,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="channelStatus != null" >
        channel_status,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="navOrder != null" >
        nav_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="isCustomLink != null" >
        #{isCustomLink,jdbcType=INTEGER},
      </if>
      <if test="customLinkUrl != null" >
        #{customLinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="isIndex != null" >
        #{isIndex,jdbcType=INTEGER},
      </if>
      <if test="isTopNav != null" >
        #{isTopNav,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="channelStatus != null" >
        #{channelStatus,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="navOrder != null" >
        #{navOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.east.cms.model.Channel" >
    update channel
    <set >
      <if test="channelName != null" >
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="isCustomLink != null" >
        is_custom_link = #{isCustomLink,jdbcType=INTEGER},
      </if>
      <if test="customLinkUrl != null" >
        custom_link_url = #{customLinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        channel_type = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="isIndex != null" >
        is_index = #{isIndex,jdbcType=INTEGER},
      </if>
      <if test="isTopNav != null" >
        is_top_nav = #{isTopNav,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=INTEGER},
      </if>
      <if test="channelStatus != null" >
        channel_status = #{channelStatus,jdbcType=INTEGER},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="navOrder != null" >
        nav_order = #{navOrder,jdbcType=INTEGER},
      </if>
    </set>
    where channel_id = #{channelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.east.cms.model.Channel" >
    update channel
    set channel_name = #{channelName,jdbcType=VARCHAR},
      is_custom_link = #{isCustomLink,jdbcType=INTEGER},
      custom_link_url = #{customLinkUrl,jdbcType=VARCHAR},
      channel_type = #{channelType,jdbcType=VARCHAR},
      is_index = #{isIndex,jdbcType=INTEGER},
      is_top_nav = #{isTopNav,jdbcType=INTEGER},
      is_recommend = #{isRecommend,jdbcType=INTEGER},
      channel_status = #{channelStatus,jdbcType=INTEGER},
      orders = #{orders,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      nav_order = #{navOrder,jdbcType=INTEGER}
    where channel_id = #{channelId,jdbcType=INTEGER}
  </update>
</mapper>