<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.cms.dao.CmsLinkMapper">
  
  <sql id="Base_Column_List">
    id, title, url, type, newWin, urlId, urlClass, pos
  </sql>
 
   
   <select id="findByType" parameterType="java.lang.String"  resultType="com.east.cms.model.CmsLink" >
	    select * from cms_link where 1=1
	        <choose>
                 <when test=" type != null ">
                  and  type = #{type}
                 </when>
                 <otherwise>
                 and  type is null 
                 </otherwise>
            </choose>	
		order by pos
   </select>
   
   <select id="listByType" parameterType="java.lang.String" resultType="com.east.cms.model.CmsLink" >
   select * from cms_link where type=#{type} order by pos
   </select>
   
   <select  id="listAllType"  resultType="java.lang.String">
    select  type from cms_link group by type
   </select>
   
   <select id="getMinAndMaxPos" resultType="map">
    select max(pos) as maxPos, min(pos) as minPos from cms_link 
   </select>
   
    <update id="updatePos" >
   
   </update>
   
   
 
 
 
 
 
</mapper>