<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.cms.dao.GroupChannelMapper">
  <resultMap id="BaseResultMap" type="com.east.cms.model.GroupChannel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupzId" jdbcType="INTEGER" property="groupzId" />
    <result column="channelId" jdbcType="INTEGER" property="channelId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, groupzId, channelId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from group_channel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from group_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.east.cms.model.GroupChannel">
    insert into group_channel (id, groupzId, channelId
      )
    values (#{id,jdbcType=INTEGER}, #{groupzid,jdbcType=INTEGER}, #{channelid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.east.cms.model.GroupChannel">
    insert into group_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupzid != null">
        groupzId,
      </if>
      <if test="channelid != null">
        channelId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupzid != null">
        #{groupzid,jdbcType=INTEGER},
      </if>
      <if test="channelid != null">
        #{channelid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.east.cms.model.GroupChannel">
    update group_channel
    <set>
      <if test="groupzid != null">
        groupzId = #{groupzid,jdbcType=INTEGER},
      </if>
      <if test="channelid != null">
        channelId = #{channelid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.east.cms.model.GroupChannel">
    update group_channel
    set groupzId = #{groupzid,jdbcType=INTEGER},
      channelId = #{channelid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>