<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.cms.dao.GroupzMapper">
  
  <sql id="Base_Column_List">
    id, name, descr
  </sql>
  <!-- oo  -->
  <select id="listGroup"  resultType="com.east.cms.model.Groupz"> 
    select * from groupz
  </select>
  
  <!-- oo  -->
  <delete id="deleteGroupUsers" parameterType="java.lang.Integer" >
    delete from user_group where groupId=#{groupId}
  </delete>
  
  <!-- oo  -->
  <insert id="addGroupChannel">
   insert into  group_channel (groupId, channelId) values (#{group.id}, #{channel.id})
  </insert>
  
  <!-- oo  -->
  <select id="loadGroupChannelById"  resultType="com.east.cms.model.GroupChannel" >
   select gc.id ,
          gc.groupId,
          gc.channelId,
          g.`name`,
          g.descr,
          c.channelName,
          c.isCustomLink,
          c.customLinkUrl,
          c.channelType,
          c.isIndex,
          c.isTopNav,
          c.isRecommend,
          c.channelStatus,
          c.orders,
          c.parentId,
          c.navOrder
   from group_channel gc 
   left join groupz g on(gc.groupId=g.id) 
   left join channel c on (gc.channelId=c.id) 
   where gc.groupId=#{groupId} and gc.channelId=#{channelId}  
   </select>
  <!-- oo  -->
  <delete id="clearGroupChannel" parameterType="java.lang.Integer">
     delete from  group_channel where groupId=#{groupId}
  </delete>
  
  <!-- oo  -->
  <delete id="deleteGroupChannel" >
    delete from  group_channel where groupId=#{groupId} and channelId=#{channelId}
  </delete>
  <!-- oo  -->
  <select id="listGroupChannelIds" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
    select channelId from group_channel where groupId=#{groupId}
  </select>
  <!-- oo  -->
  <select id="generateGroupChannelTree" parameterType="java.lang.Integer" 
   resultType="com.east.cms.model.ChannelTree" >
     select c.id,
            c.channelName,
            c.parentId 
     from group_channel gc 
     left join channel c on(gc.channelId=c.id) 
     where gc.groupId=#{groupId}
  </select>
   <!-- oo  -->
  <select id="generateUserChannelTree" parameterType="java.lang.Integer"  
  resultType="com.east.cms.model.ChannelTree" >
  select distinct   c.id ,
         c.channelName,
         c.parentId  
  from group_channel gc 
  left join channel c on(gc.channelId=c.id) 
  left join user_group ug on (gc.groupId=ug.groupId) 
  where ug.userId=#{userId}
  </select>
  <!-- oo  -->
  <select id="load" parameterType="java.lang.Integer"  resultType="com.east.cms.model.Groupz" >
     select * from groupz where id=#{groupId}
  </select>
  <!-- oo  -->
  <insert id="add" parameterType="com.east.cms.model.Groupz" >
   insert into groupz (name, descr) values(#{group.name},#{group.descr})
  </insert>
  <!-- oo  -->
  <delete  id="delete" parameterType="java.lang.Integer">
   delete from groupz where id=#{groupId}
  </delete>
   <!-- oo  -->
  <update id="update" parameterType="com.east.cms.model.Groupz" >
    update groupz 
    set name=#{group.name}, 
        descr=#{group.descr}
     where id=#{group.id}   
  </update>
   <!-- oo  -->
   <update id="updateSelective" parameterType="com.east.cms.model.Groupz" >
      update groupz 
    <set>
      <if test=" group.name != null">
         name=#{group.name},
      </if>
      <if test=" group.name != null">
         descr=#{group.descr},
      </if>
    </set>
     where id=#{id}   
  </update>
  
  
  
</mapper>

