<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.cms.dao.KeywordMapper">
  
  <sql id="Base_Column_List">
    id, name, times, nameFullPy, nameShortPy
  </sql>
 
 
 
 
 
 <select id="listKeywordByCon" parameterType="java.lang.String" resultType="com.east.cms.model.Keyword" >
   select * from keyword
  where name like concat('%',#{con},'%') or nameFullPy like concat('%',#{con},'%') or nameShortPy like concat('%',#{con},'%')
 </select>
 
  <select id="listKeywordStringByCon"  parameterType="java.lang.String" resultType="java.lang.String" >
  select name from keyword
  where name like concat('%',#{con},'%') or nameFullPy like concat('%',#{con},'%') or nameShortPy like concat('%',#{con},'%')
  </select>
 
 
</mapper>