<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.cms.dao.KeywordMapper">
  <resultMap id="BaseResultMap" type="com.east.cms.model.Keyword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="nameFullPy" jdbcType="VARCHAR" property="nameFullPy" />
    <result column="nameShortPy" jdbcType="VARCHAR" property="nameShortPy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, times, nameFullPy, nameShortPy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from keyword
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from keyword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.east.cms.model.Keyword">
    insert into keyword (id, name, times, 
      nameFullPy, nameShortPy)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{times,jdbcType=INTEGER}, 
      #{namefullpy,jdbcType=VARCHAR}, #{nameshortpy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.east.cms.model.Keyword">
    insert into keyword
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="namefullpy != null">
        nameFullPy,
      </if>
      <if test="nameshortpy != null">
        nameShortPy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
      <if test="namefullpy != null">
        #{namefullpy,jdbcType=VARCHAR},
      </if>
      <if test="nameshortpy != null">
        #{nameshortpy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.east.cms.model.Keyword">
    update keyword
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="namefullpy != null">
        nameFullPy = #{namefullpy,jdbcType=VARCHAR},
      </if>
      <if test="nameshortpy != null">
        nameShortPy = #{nameshortpy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.east.cms.model.Keyword">
    update keyword
    set name = #{name,jdbcType=VARCHAR},
      times = #{times,jdbcType=INTEGER},
      nameFullPy = #{namefullpy,jdbcType=VARCHAR},
      nameShortPy = #{nameshortpy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>