<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.east.cms.dao.UserMapper">
	
	<sql id="Base_Column_List">
		id, username, password, nickname, email, phone, status,
		createDate
	</sql>
	

	<!-- oo -->
	<select id="listUserRoleIds" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		select roleId from user_role where userId=#{userId}
	</select>


     <!-- oo -->
	<select id="listUserGroups" parameterType="java.lang.Integer"
		resultType="com.east.cms.model.Groupz">
		select g.* from user_group ug left join groupz g on
		(ug.groupId=g.id) where ug.userId=#{userId}
	</select>


	<!-- oo -->
	<select id="listUserGroupIds" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		select groupId from user_group where userId=#{userId}
	</select>
    <!-- oo -->
	<select id="loadUserRole" resultType="com.east.cms.model.UserRole">
		select ur.id,
		ur.userId ,
		ur.roleId ,
		u.username ,
		u.password ,
		u.nickname ,
		u.email ,
		u.phone ,
		u.status ,
		r.name ,
		r.roleType
		from user_role ur left join role r on
		(ur.roleId=r.id) left join user u
		on(ur.userId=u.id) where
		ur.userId=#{userId} and ur.roleId=#{roleId}
	</select>

    <!-- oo -->
	<select id="loadUserGroup" resultType="com.east.cms.model.UserGroup">
		select ug.id,
		ug.userId ,
		ug.groupId ,
		u.username ,
		u.password ,
		u.nickname ,
		u.email ,
		u.phone ,
		u.status ,
		g.name ,
		g.descr
		from user_group ug left join groupz g on
		(ug.groupId=g.id) left join user u
		on(ug.userId=u.id) where
		ug.userId=#{userId} and ug.groupId=#{groupId}
	</select>
	<!-- oo -->
	<select id="loadByUsername" parameterType="java.lang.String"
		resultType="com.east.cms.model.User">
		select * from user where username=#{username}
	</select>
	<!-- oo -->
	<select id="listRoleUsers" parameterType="java.lang.Integer"
		resultType="com.east.cms.model.User">
		select u.* from user_role ur left join user u
		on(ur.userId=u.id) where ur.roleId=#{roleId}
	</select>
    <!-- oo -->
	<select id="listRoleUsersByType" parameterType="java.lang.String"
		resultType="com.east.cms.model.User">
		select u.* from user_role ur join user u on(ur.userId=u.id)
		join role r on(ur.roleId=r.id) where r.roleType=#{roleType}
	</select>
    <!-- oo -->
	<select id="listGroupUsers" parameterType="java.lang.Integer"
		resultType="com.east.cms.model.User">
		select u.* from user_group ug join user u
		on(ug.userId=u.id) join groupz g on(ug.groupId=g.id) where g.id=#{gid}
	</select>
     <!-- oo -->
	<insert id="addUserRole">
		insert into user_role
		(userId,roleId)
		values
		(#{user.id,jdbcType=INTEGER},#{role.id,jdbcType=INTEGER} )
	</insert>
    <!-- oo -->
	<insert id="addUserGroup">
		insert into user_group
		(userId,groupId)
		values
		(#{user.id,jdbcType=INTEGER},#{group.id,jdbcType=INTEGER} )
	</insert>

    <!-- oo -->
	<delete id="deleteUserRoles" parameterType="java.lang.Integer">
		delete from user_role where userId=#{userId}
	</delete>

    <!-- oo -->
	<delete id="deleteUserGroups" parameterType="java.lang.Integer">
		delete from user_group where userId=#{userId}
	</delete>

	<select id="findUser" resultType="com.east.cms.model.User">
		select * from user
	</select>
	 <!-- oo -->
	<delete id="deleteUserRole">
		delete from user_role where userId=#{userId} and roleId=#{roleId}
	</delete>
	 <!-- oo -->
	<delete id="deleteUserGroup">
		delete from user_group where userId=#{userId} and groupId=#{groupId}
	</delete>
    <insert  id="add"  parameterType="com.east.cms.model.User" >
      insert into user (username, password, nickname, email, phone, status,createDate)
      values(#{user.username},#{user.password},#{user.nickname},#{user.email},#{user.phone},#{user.status},#{user.createDate})
    </insert>
    <delete id="delete" parameterType="java.lang.Integer" >
      delete from user where id=#{userId}
    </delete>
    <update id="update" parameterType="com.east.cms.model.User"  >
     update user
     set  username=#{user.username}, 
          password=#{user.password}, 
          nickname=#{user.nickname}, 
          email=#{user.email}, 
          phone=#{user.phone}, 
          status=#{user.status},
		  createDate=#{user.createDate}
     where id = #{user.id}
    </update>
    <select id="load" parameterType="java.lang.Integer" resultType="com.east.cms.model.User" >
     select * from user where id=#{userId}
    </select>

</mapper>